@media only screen and (min-width: 376px) and (max-width: 573px) {
    .arena__title__button{
        text-align: center;
        justify-content: center;
    }
    #hero .hero-container{
        text-align: center;
        padding-left: 10%!important;
        padding-right: 10%!important;
    }
    .arena__title_nen_row{
        /*margin-top: -50px;*/
    }
    .banner-slider{
        /*padding-top: 30px;*/
        margin-top: -230px!important;
        padding-left: 60px!important;
        padding-right: 60px!important;
    }
    .product_carousel .owl-stage-outer{
        min-height: 150px!important;
        border-radius: 20px!important;
    }
    .section-tt{
        margin-top: -90px!important;
    }
    #hero .hero-container{
        padding: 0 20px!important;
    }
    .product_content h4 a{
        font-size: 16px!important;
    }
    .section-tt-aaa_span_two{
        line-height: 24px;
    }
    .section-tt-aaa{
        text-align: center!important;
    }

    .section-contt__body{
        padding-bottom: 30px!important;
    }
    .blog_thumb{
        position: absolute;
        left: 40%;
        top: -20%;
        /*background: #456BD9;*/
        height: 80px;
        width: 80px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
    }
    .product_rating ul li a{
        margin-left: 5px!important;
    }
    .product_rating{
        padding-top: 20px!important;
        padding-right: 0!important;
    }
    .post_desc{
        padding: 30px 0!important;
        font-size: 16px!important;
    }
    .avatar-logo{
        /*width: 100%!important;*/
    }

    .blog_section__title{
        /*padding-top: 50px!important;*/
        text-align: center;
    }
    .blog_content__span{
        font-size: 16px!important;
    }
    .btn_more{
        padding: 0!important;
    }
    .secvices-title{
        padding-top: 50px!important;
    }
    .secvices-title__body{
        font-size: 20px!important;

    }
    .secvices-title__body_s{
        padding-top: 30px!important;
    }
    .games_image{
        padding-top: 30px;
    }
    .secvices-body__tool__span{
        padding: 30px 0!important;
    }

    .footer-header__top{
        /*padding-left: 60px;*/
    }
    .footer-header__left__td_span_two{
        /*padding-top: 15px;*/
        text-align: center;
        margin-left: 20px;
        padding-top: 10px;
    }
    .span-fot{
        margin-left: 30px;
    }
    /*.footer-header__left{*/
    /*    height: 250px;*/
    /*}*/
    .footer-header__left__td_span__boosters{
        padding-top: 10px;
        margin-left: 20px;
    }
    /*.footer__tt{*/
    /*    padding-top: 30px;*/
    /*    text-align: center;*/
    /*}*/
    .footer-header__games{
        padding-top: 20px;
        border-left: none;
    }

    .ftco-footer__footer{
        padding-bottom: 30px;
    }
    /*.footer-header__games_h3__left__header{*/
    /*    !*text-align: center;*!*/
    /*    !*padding-left: 130px;*!*/
    /*    padding-bottom: 0!important;*/
    /*}*/
    /*.footer-header__games_h3__left__footer{*/
    /*    padding-left: 170px;*/
    /*    margin-top: -13px;*/
    /*}*/
    .arena__title_nen__span__color{
        font-size: 16px;
        line-height: 32px;
    }
    .section-nen-tt__imgs{
        margin-top: -290px!important;
    }
    .secvices-title{
        margin-top: -30px;
        /*padding-top: 50px!important;*/
    }
    .arena__bdy{
        margin-top: -220px;
    }
    .arena__title_nen__ab{
        margin-top: -10px;
    }
    .arena__title_nen__ac{
        margin-top: -10px;
    }
    .arena__title_nen__ad{
        margin-top: -10px;
    }
    .arena__title_nen,
    .arena__title_nen_row{
        max-width: 100%;
    }
    .content-detailss_title_span{
        font-size: 18px;
    }

    .content-detailss__loaitaikhoan{
        margin: 0 auto!important;
    }
    /*.content-detailss_title_span_s{*/
    /*   padding-left: 20px;*/
    /*}*/

    .content-detailss_title_i{
        padding-top: 30px;
        font-size: 16px!important;
        margin-left: -45px;
    }
    .content-detailss__hss{
        padding-left: 30px;
    }
    .content-detailss__desc{
        width: 100%;
        margin: 0 auto;
        padding-right: 30px!important;
        padding-left: 30px!important;
    }

    .content-detailss__footer_title{
        font-size: 18px;

    }
    .content-detailss__footer{
        padding-top: 30px!important;
    }
    .content-detailss__footer__check{
        padding-left: 30px;
    }
    .content-detailss__desc__span{
        text-align: left!important;
        padding-top: 10px!important;
    }


    /*.secvices-title__kk{*/
    /*    display: none;*/
    /*}*/

    .secvices-title__details{
        width: 100%;
        margin: 0 auto;
    }
    .secvices-title__footer__details{
        font-size: 16px;
        line-height: 32px;
        color: #ffffff;
    }
    .secvices-title__footer_image{
        padding: 20px 0!important;
    }
    .modal-caythue .modal{
        position: fixed;
        left: 10%;
        top: 13%;
    }
    .blog_two{
        padding: 0 30px;
    }

    .footer-header__left{
        width: 330px!important;
        height: 290px!important;
        margin: 0 auto!important;
        /*padding-left: 60px;*/
    }
    .footer-header__h3_ul li a{
        font-size: 16px;
        line-height: 32px;
    }
    .footer-header__games_h3__left__header li a{
        font-size: 16px;
        line-height: 32px;
    }
    .footer-header__games_h3__left__footer li a{
        font-size: 16px;
        line-height: 32px;
    }
    .footer-header__games_h3__left__footer{
        padding-left: 58px;
        margin-top: -13px;
    }

    .footer-header__games_h3{
        /*text-align: center;*/
        padding-left: 0!important;
    }

    .footer-header__games_h3__left__header ul li a{
        /*text-align: center;*/
        font-size: 16px;
    }
    .footer-header__h3_ul__colapse{
        padding-left: 40px;
    }
    .footer__tt{
        padding-top: 50px!important;
        padding-left: 50px!important;
    }
    .footer-header__games{
        padding-top: 50px!important;
        padding-left: 50px!important;
    }
    .footer-header__top span{
        font-size: 16px;
    }
    .ftco-footer__footer span{
        font-size: 14px;
    }
    .ftco-footer__ii{
        padding-top: 30px!important;
    }
    /*.avatar-logo{*/
    /*    width: 65%!important;*/
    /*    padding-left: 38%;*/
    /*}*/
    .avatar-logo{
        width: 100%!important;
        background-size: cover!important;
        /*border-radius:50%;*/
        object-fit: contain!important;
        height: 50px!important;
    }
    .avatar-shadow{
        max-width: 150px!important;
        height: auto;
        margin: 0 auto;
    }
    .btn_more__row{
        padding: 50px 0 10px 0!important;
    }

    .blog_ca .owl-carousel .owl-stage-outer{
        height: 450px;
    }

/*         */
    .bangtin__banner{
        display: none;
    }

    .hr_one{
        display: none;
    }

    .bangtin__content__right__body__giai{
        padding: 30px 0!important;
    }
    .bangtin__content__right__body__nep{
        padding: 0 30px;
    }
    .bangtin__content__right__footer__ht{
        padding: 0 15px;
    }
    .bangtin__content__right__body__left,
    .bangtin__content__right__body__left_ht{
        max-height: 380px!important;
        min-width: 350px!important;
    }
    .bangtin__content__right__body__left__bottom__cidel,
    .bangtin__content__right__body__left__bottom__cidel__spam,
    .bangtin__content__right__body__nep,
    .bangtin__content__right__footer__ht,
    .bangtin__content__right__footer__center{
        padding: 0!important;
    }
    .bangtin__content__right__body__left__bottom_c,
    .bangtin__content__right__body__left__bottom_ht{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .hero-container_bangtin{
        text-align: center;
        padding-left: 0!important;
    }

    .input__tp{
        padding-top: 30px;
    }
    .aaa_in{
        padding-left: 0!important;
    }
    .trang{
        display: none;
    }
    .hoso__content__tttk_sodu_vi{
        text-align: center!important;
    }
    .btn-get-started__tk{
        text-align: center!important;
        padding-top: 30px!important;
    }

    .bangtin__content__right__body__left__top__2{
        max-height: 190px!important;
    }
    .bangtin__content__right__body__left__topelo h3{
        font-size: 18px;
    }
    .bangtin__content__right__body__nep_2{
        padding-top: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
        /*min-width: 500px;*/
    }
    .bangtin__content__right__body__left__circle_2{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        /*padding-right: 120px;*/
    }
    .bangtin__content__right__body__left__top__2__2{
        padding-left: 30px;
    }
    .bangtin__content__right__body__left__topelo{
        padding-left: 30px!important;
    }
    .bangtin__content__right__body__left__topelo span{
        font-size: 14px!important;
    }
    .boder-left{
        border-left: none!important;
    }

    .game__lmht{
        padding-top: 50px;
    }
    .games-tocchien{
        padding-top: 50px;
    }
    .games-content__footer__hr{
        width: 400px!important;
    }
    .games-content__footer,
    .games-content__footer__body{
        padding-left: 30px;
    }

    .tintuc-slider__backgoru{
        height: 340px!important;
        width: 100%;
    }
    .tintuc-slider__sss{
        padding-right: 30px!important;
        border: none!important;
    }
    .tintuc-slider__fff{
        padding-left: 30px!important;
    }
    .tintuc-slider__top{
        padding-left: 180px!important;
    }

    .tintuc_body__right{
        padding-top: 30px;
    }

    .tintuc_body_image{
        margin: 0 auto;
    }
    .tintuc_body_image{
        padding-left: 60px!important;
    }

    .tintuc_contents__menu{
        order: 2;
    }
    .tintuc_right__input{
        order: 1;
        padding-top: 30px;
    }
    .tintuc_right__search{
        position: absolute;
        right: 15px;
        top: 30px;
    }
    .contents__menu__video{
        order: 2;
    }
    .tintuc_contents__menus{
        order: 1;
        padding: 30px 30px;
    }
    .tintuc_right_qc_c{
        order: 2;
        padding-top: 30px!important;
    }
    .tintuc_right_list_span{
        line-height: 32px!important;
    }

    .sukien_contents ul li i{
        font-size: 12px!important;

    }
    .sukien_contents ul li{
        margin-left: 0!important;
        margin-right: 10px;
    }
    .sukien_contents ul{
        float: left!important;
        padding-left: 0;
        padding-top: 20px;

    }
    .arena__title_nen_row ul li{
        margin-left: 10px!important;
        list-style: none;
        font-size: 14px;
        float: none!important;
        border: none!important;
    }
    .arena__title_nen_row ul li span{
        font-size: 16px!important;
    }
    .arena__title_nen_row ul{
        width: 100%;
        margin-top: -100px!important;
    }
    .arena__title_nen__slider{
        margin-top: -65px!important;
    }
    .arena__bodysss{
        padding: 0!important;
        margin-top: -150px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .li_none{
        display: none!important;
    }


    .bangtin__chitiet__content__right__border__top__1{
        border-right: none;
    }
    .bangtin__chitiet__content__right__border__top__2,
    .bangtin__chitiet__content__right__border__top__3,
    .bangtin__chitiet__content__right__border__top__3_2{
        padding-top: 10px;
    }


    .section-nen-tt__img{
        margin-top: -130px;
    }

    .section-contt__icon{
        width: 100%!important;
    }

    .section-tt-aaa__bb{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .section-three{
        margin: 0 auto;
    }

    .fored{
        padding: 0!important;
        margin: 0 auto;
    }

    .about-pic .play-btn {
        position: absolute;
        left: 65%;
        top: 75%;
    }

    /*     sá»­a details   */
    .arena__title_nen_row_fix ul{
        margin: 0 auto;
        margin-top: -100px;
    }
    .arena__title_nen_row_fix ul li{
        list-style: none;
        float: none!important;
        border-left: none!important;
    }
    .arena__title_nen_row_fix ul li:nth-child(2) span,
    .arena__title_nen_row_fix ul li:nth-child(3) span{
        padding-left: 0!important;
    }
    .arena__title_nen_row_fix ul li:nth-child(2),
    .arena__title_nen_row_fix ul li:nth-child(3){
        margin-left: 0!important;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    .arena__title_nen_row_fix ul li span{
        font-size: 18px!important;
    }
    .arena__bodysss ul li span{
        font-size: 20px;
        line-height: 24px;
        color: #fff;

    }

    .arena__bodysss ul{
        margin: 0 auto;
        line-height: 48;
    }

    .arena__titles ul{
        padding-top: 80px;
    }
    .content-detailss_title{
        padding: 0 30px;
    }
    .content-detailss_title_span__ul ul li{
        margin-left: 5px;
    }
    .content-detailss_title_span__ul ul li{
        line-height: 20px;
    }
    .arena__titles{
        padding-left: 30px;
        padding-right: 30px;
    }
    .content-detailss_title_span__ul ul{
        float: left!important;
        padding-top: 10px;
        padding-left: 0!important;
    }
    .content-detailss_title_span__ul ul li{
        line-height: 0;
        margin-right: 10px;
    }
    .content-detailss_title_span_s span{
        font-size: 20px;
    }

    .content-detail__body__title span{
        padding-left: 0px!important;
    }
    /*.content-detail__body{*/
    /*    padding-left: 30px!important;*/
    /*    padding-right: 30px!important;*/
    /*}*/
    .content-detail_1{
         padding: 0 30px;
    }
    .content-detail__body__title img{
        padding-top: 10px;
        max-width: 100%;
    }
    .content-detailss__desc__titme{
        font-size: 24px!important;
    }
    .content-detail__body__title__img{
        display: none;
    }
    .content-detailss__desccc__selecs .content-detailss__desc__select__ht:nth-child(2),
    .content-detailss__desccc__selecs .content-detailss__desc__select__ht:nth-child(3){
        padding-top: 40px!important;
    }
    .content-detailss__desccc__selecs__checkboxx{
        padding-top: 20px!important;
    }
    .content-detailss__desc__span{
        padding-top: 10px;
        text-align: left!important;
    }

    .banner-left__dongia{
        font-size: 18px!important;
    }
    .luachon ul li i{
        color: #F78457;
        font-size: 24px;
    }
    .luachon ul{
        padding-left: 15px!important;
    }
    .luachon ul li:nth-child(2),
    .luachon ul li:nth-child(3){
        margin-left: 10px;
    }
    .luachon ul li:nth-child(3){
        margin-left: 20px;
    }
    .content-detailss__loaitaikhoan{
        padding-bottom: 30px;
    }
    .banner-banner__icon{
        display: none;
    }
    .banner-banner__span{
        text-align: center;
    }
    .banner-monney-ttt{
        padding-top: 30px;
    }
    .sxxsxsx{
        width: 0;
        display: none;
    }
}