
/*  Nav bar */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .caythue-navbar{
        height: 80px!important;

    }
    .caythue-navbar .collapse{
        padding-top: 30px!important;
    }
    .product_carousel .owl-nav .owl-next i{
        margin-right: 0!important;
    }

    .product_carousel .owl-nav .owl-prev i{
        left: 0!important;
    }
    .navbar .nav-item .nav-link{
        font-size: 14px;
        /*margin: 0 20px;*/
        padding: 0;
        line-height: 40px;
    }
    .secvices-title{
        margin-top: -150px!important;
    }
    .blog_section{
        padding-top: 60px!important;
    }
    .navbar .navbar-toggler {
        border-color: #FBBF4D!important;
    }

    .product_content h4 a{
        font-size: 14px!important;
    }

    .caythue-navbar .navbar-collapse{
        padding-bottom: 30px;
    }
    .arena__title{
        text-align: center!important;
    }
    .arena__title__row{
        text-align: center!important;
        /*justify-content: center!important;*/
    }
    .arena__title__button{
        text-align: center;
        justify-content: center;
    }
    .footer__tt{
        padding-left: 40px;
    }
    .post_desc{
        padding: 10px 0 !important;
        font-size: 16px!important;
        line-height: 24px!important;
    }
    .navbar .main-btn{
        padding: 10px 20px;
    }
    #hero .hero-container{
        text-align: center;
        padding-left: 20%!important;
        padding-right: 20%!important;
    }
/*            */
    .arena__title_img{
        padding-left: 20px;
    }
    /*.secvices-title__kk{*/
    /*    display: none;*/
    /*}*/
    .content-detailss__hr{
        padding-bottom: 130px!important;
    }
    .secvices-title__details{
        margin-top: -100px!important;
    }

    .footer-header__left{
        /*width: 380px!important;*/
        /*height: 220px!important;*/
    }
    .span-fot{
        margin-left: 20px;
    }
    .footer-header__left__td_span_two{
        padding-top: 20px;
    }
    .footer-header__top{
        padding-bottom: 50px;
    }
/*     bang tin   */

    .bangtin__content__right__body__left{
        max-height: 320px;
    }
    .bangtin__content__right__body__left_ht{
        max-height: 350px!important;
    }
    .bangtin__content__right__footer{
        padding-bottom: 100px!important;
    }
    .bangtin__content__right__body__left__bottom__cc{
        padding-top: 20px!important;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .boder-left{
        border-left: none!important;
    }

    .games-tocchien{
        padding-top: 50px;
    }

    .games-content__footer__hr{
        width: 200px!important;
    }

    .games-content_body{
        margin: 0 auto;
    }

    .tintuc-slider__top{
        padding-left: 130px!important;
        padding-top: 30px!important;
    }

    /*        sự kiện  */

    .arena__bodysss_img{
        margin: 0 auto!important;
        padding-left: 0px !important;
    }
    .arena__title_img{
        padding-left: 0!important;
    }
    .content-detail__body__title span{
        padding-left: 0px!important;
    }
    .content-detailss__desc__span{
        padding-top: 10px;
        text-align: left!important;
    }
    .container_khampha__new{
        margin-top: -120px!important;
    }

    .games-content_body .game__dota2:nth-child(3){
        padding-top: 15px;
    }
    .thahtoandonhang__nen{
        margin-top: 0!important;
    }

    .thahtoandonhang{
        margin-top: -0!important;
    }
    .hoanthanh-content__donhang{
        /*padding-bottom: 80px!important;*/
    }
    .footer-header__top{
        width: 100%;
        margin: 0 auto;
    }


    .games-content_body .col-xl-4:nth-child(1) .logo__games,
    .games-content_body .col-xl-4:nth-child(2) .logo__games{
        position: absolute;
        left: 90px!important;
        top: 20px!important;
    }

    .games-content_body .col-xl-4:nth-child(1) .text__games,
    .games-content_body .col-xl-4:nth-child(2) .text__games{
        position: absolute;
        top: 30px!important;
        right: 100px!important;
    }
    .games-content_body .col-xl-4:nth-child(1) .btn__games,
    .games-content_body .col-xl-4:nth-child(2) .btn__games{
        position: absolute;
        bottom: 20px!important;
        right: 100px!important;
    }


    .games-content_body .col-xl-4:nth-child(3) .logo__games,
    .games-content_body .col-xl-4:nth-child(4) .logo__games{
        position: absolute;
        left: 70px!important;
        top: 30px!important;
    }

    .games-content_body .col-xl-4:nth-child(3) .text__games,
    .games-content_body .col-xl-4:nth-child(4) .text__games{
        position: absolute;
        top: 50px!important;
        right: 80px!important;
    }
    .games-content_body .col-xl-4:nth-child(3) .btn__games,
    .games-content_body .col-xl-4:nth-child(4) .btn__games{
        position: absolute;
        bottom: 20px!important;
        right: 100px!important;
    }



    .games-content_body .col-xl-4:nth-child(5) .logo__games,
    .games-content_body .col-xl-4:nth-child(6) .logo__games{
        position: absolute;
        left: 90px!important;
        top: 50px!important;
    }
    .games-content_body .col-xl-4:nth-child(5) .btn__games,
    .games-content_body .col-xl-4:nth-child(6) .btn__games{
        position: absolute;
        bottom: 20px!important;
        right: 100px!important;
    }
    .games-content_body .col-xl-4:nth-child(5) .text__games,
    .games-content_body .col-xl-4:nth-child(6) .text__games{
        position: absolute;
        top: 50px!important;
        right: 100px!important;
    }


    .games-content_body .col-xl-4:nth-child(3){
        padding-top: 30px;
    }
}
/* oooooooooooooooooooo*/







