
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #130516!important;
  font-family: 'Roboto', sans-serif;
  z-index: 9999;
}

.container-fluid{
  padding: 0 100px;
}

header#main-header{
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  background: #250C2B!important;
  backdrop-filter: blur(10px);
}
header .navbar-light .navbar-brand img.logo{
  width: 160px;
}
header .navbar .menu-header-menu-container,header .navbar .menu-main-menu-container{
  display: inline-block;
  width: 100%;
}
a{
  color: #FBBF4D;
  text-decoration: none;
  outline: medium none;
  transition: all 0.5s ease-out 0s;
}
header .navbar ul.navbar-nav{
  display: block;
  text-align: center;
}
header .navbar ul li{
  list-style: none;
  margin-right: 18px;
  position: relative;
  transition:  all 0.3s ease-in-out;
  display: inline-block;
}
header .navbar ul li.menu-item a{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 10px;
  line-height: 70px;
  z-index: 9;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
header .navbar ul li.menu-item a:hover{
  color:  #fff !important;
}
.navbar ul li:hover > .sub-menu{
  display: block !important;
  animation: fade-in 0.5s cubic-bezier(0.39,0.575,0.565,1) both;
}
.navbar ul li:hover .sub-menu{
  display: block;
  padding: 15px 0;
  background: #250C2B;
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 0;
  display: inline-block;
  min-width: 256px;
  box-shadow: 0 1px 30px 0 rgb(36 38 43);
}
.navbar ul li .sub-menu li > .sub-menu{
  display: none;
}
.navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu,
.navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover > .sub-menu{
  left: auto;
  right: 100%;
  top: -15px;
}
.navbar ul li:last-child{
  margin-right: 0;
}
.navbar ul.navbar-nav>li.menu-item:hover > a,
.navbar ul.navbar-nav > li.menu-item:hover>i{
  color: #FBBF4D;
}
.navbar ul.navbar-nav>li.menu-item>a{
  text-transform: uppercase;
}
.navbar ul.navbar-nav>li:hover > a{
  font-weight: 600;
}
.navbar ul li.menu-item a{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 10px;
  line-height: 70px;
  z-index: 9;
  text-decoration: none;
  transition:  all 0.3s ease-in-out;
  text-transform: capitalize;
}
.navbar ul li .sub-menu{
  display: none;
}
.navbar ul li .sub-menu li{
  margin-right: 0;
  padding: 0 15px;
}
.navbar ul.sub-menu li{
  display: block;
  text-align: left;
}
.navbar ul li{
  list-style: none;
  margin-right: 18px;
  position: relative;
  transition:  all 0.3s ease-in-out;
  display: inline-block;
}
.menu-sticky .navbar ul li .sub-menu >li a{
  line-height: 1em;
}
.navbar ul li .sub-menu li > a{
  font-size: 14px;
  border-radius: 0;
  display: inline-block;
  width: 100%;
  line-height: 1em;
  padding: 15px;
  color: #FBBF4D;
  position: relative;
  overflow: hidden;
}
.navbar ul li.menu-item a{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 10px;
  line-height: 70px;
  position: relative;
  z-index: 9;
  text-decoration: none;
  transition:  all 0.3s ease-in-out;
  text-transform: capitalize;
}
.navbar ul li .sub-menu li>a::before{
  position: absolute;
  content: "";
  background: #FBBF4D;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 4px;
  opacity: 0;
  transform: translate3d(-100%,0,0);
  transition:  all 0.5s ease-in-out;
}

header .navbar ul li .sub-menu li.current-menu-parent>a::after,
header .navbar ul li .sub-menu li .sub-menu li.sub-menu.current-menu-item>a::after
header .navbar ul li .sub-menu li .sub-menu li.menu-item:hover>a::after{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition:  all 0.5s ease-in-out;
}
header .navbar ul li .sub-menu li:hover>a::after{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition:  all 0.5s ease-in-out;
}
.navbar ul li .sub-menu li>a::after{
  position: absolute;
  content: "";
  background: linear-gradient(270deg, rgba(11,1,2,0) 0%, rgba(251, 191, 77, 0.84) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(-100%,0,0);
  transition: all 0.5s ease-in-out;
  z-index: -1;
  opacity: 0;
}

header .navbar ul li .sub-menu li:hover>a::before{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition:  all .5s ease-in-out;
}
.nav-open .nav-overlay{
  visibility: visible;
  transition: 0.3s;
}
.nav-overlay{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 900;
  display: block;
  width: 100%;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,0.6);
  transition: 0.3s;
}
.more-toggle{
  color: #fff !important;
  font-size: 22px;
}
.dropdown-toggle.more-toggle::after{
  content: none;
}
.mobile-more-menu{
  display: none;
}
.more-menu{
  position: absolute;
  top: 50px;
  left: auto;
  right: 0;
  min-width: 18rem;
  padding: 0.35rem 0.5rem;
  margin: 0;
  opacity: 0;
  transform: translate(0,70px);
  transition: all 0.3s ease-out 0s;
  background: #191919;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.39);
  visibility: hidden;
  z-index: 999;
}
.more-menu.show{
  opacity: 1;
  transform: translate(0,0);
  visibility: visible;
}
header .navbar ul li:last-child{
  margin-right: 0;
}
.nav-item span.dots{
  height: 10px;
  width: 10px;
  font-size: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 3px;
  right: 12px;
  border-radius: 50%;
}
.menu-right .nav-item span.dots{
  right: 0;
}

.navbar-right li .iq-sub-dropdown .iq-sub-card{
  position:  relative;
  font-size: inherit;
  padding: 15px 15px;
  line-height: normal;
  color: inherit;
  text-align: left;
  display: inline-block;
  width: 100%;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 0 0 1px 0;
  border-image-source: linear-gradient(to right, rgba(209,208,207,0.6), rgba(209,208,207,0.3), rgba(209,208,207,0));
}
.iq-sub-card.setting-dropdown{
  padding: 15px 15px 15px 0!important;
}
.navbar-right li .iq-sub-dropdown a.iq-sub-card:last-child{
  border-bottom: 0;
}
.notify-bg{
  overflow: hidden;
  z-index: 99;
}
.notify-bg::before{
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skew(-30deg);
  animation: noti-before-animation 2s infinite;
}
.notify-bg::after{
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skew(-30deg);
  animation: noti-before-animation 2s infinite 2s;
}

.navbar-right .iq-sub-dropdown .iq-card-body div{
  border-radius: 0;
}

.navbar-right .iq-show .iq-sub-dropdown,
.iq-show .search-box{
  opacity: 1;
  visibility: visible;
  transform: translate(0,0);
}
.navbar-right .iq-sub-dropdown{
  width: 300px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 15px;
  background: #250C2B;
  transform: translate(0,70px);
  transition: all 0.3s;
  padding: 0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  transition: all 0.3s ease-out 0s;
  z-index: 1;
}
.navbar-right .iq-sub-dropdown h6{
  color: #FBBF4D;
}
.navbar-light .navbar-toggler-icon{
  background: url(../images/menu.png) no-repeat scroll center center;
}
.search-toggle:hover, header .navbar ul li.menu-item a:hover{
  color: #fff !important;
}

.search-wrapper{
  position: relative;
  display: inline-block;
  height: 36px;
  vertical-align: bottom;
}
.searchbutton{
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  right: 16px;
  color: #d1d0cf;
}

.search:focus+.searchbutton{
  transition-duration: 0.4s;
  color: #FBBF4D;
}
.search:hover+.searchbutton{
  color: #fff!important;
}
.search{
  position: absolute;
  left: 49px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0 0 0 16px;
  width: 0;
  height: 100%;
  z-index: 10;
  color: #fff;
  transition-duration: 0.4s;
}
.search:focus, .search:hover{
  width: 350px;
  padding: 0;
  border-color: #FBBF4D;
}
.expandright{
  left: auto;
  right: -6px;
  bottom: -2px;
}
.search::placeholder{
  color: #fff !important;
}
.noti-svg{
  animation: notify 1.5s ease infinite;
  fill: #d1d0cf;
}
.noti-svg:hover{
  fill: #FBBF4D;
}
.search-box{
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  min-width: 25rem;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transform: translate(0,70px);
  transition: all 0.3s ease-out 0s;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}
.search-toggle{
  padding: 0 !important;
}
.iq-search-bar .search-input{
  width: 100%;
  height: 40px;
  padding: 5px 15px 5px 40px;
  border: none;
  border-radius: 0;
  color: #fff;
  background: #250C2B;
}
.iq-search-bar .searchbox .search-link{
  position: absolute;
  left: 15px;
  top: 6px;
  font-size: 16px;
}
input,input[type="search"]{
  width: 100%;
  padding: 0px 15px;
  height: 48px;
  line-height: 48px;
  background: #250C2B;
  border: 1px solid #404043;
  border-radius: 0;
  color: #d1d0cf;
  transition: all 0.5s ease-in-out;
}
input:focus, input[type="search"]:focus{
  border-color: #FBBF4D;
  box-shadow: none;
  outline: none;
}
.user-m{
  height: 40px;
  width: 40px;
  min-width: 40px;
  line-height: 40px;
  font-size: 0.6rem;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
  color: #fff;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
  color: inherit;
}
.font-size-12{
  font-size: 12px;
  color: #FBBF4D;
}
h6 .h6{
  font-size: 1.0em;
}
a.text-primary:focus, a.text-primary:hover{
  color: #FBBF4D; !important;
}
.text-primary{
  color: #FBBF4D !important;
}
header#main-header.menu-sticky{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(20, 20, 20, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.4);
  z-index: 1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  /*height: 100vh;*/
  height: 580px;
  background: url(../images/slider/bg1.png) top center fixed;
  background-size: cover;
}

#hero .hero-container {
  background: linear-gradient(270deg, #130516 0%, rgba(19, 5, 22, 0) 41.15%, rgba(19, 5, 22, 0) 66.15%, #130516 100%);
  display: table-cell;
  margin: 0;
  /*text-align: center;*/
  vertical-align: middle;
  padding-left: 11%;
  padding-right: 55%;

}

#hero h1 {
  margin: 20px 0;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #FBBF4D;
  padding-top: 30px;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #CCCCCC;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  /*margin: 10px;*/
  border: 2px solid #FBBF4D;
  background-color: #FBBF4D;
  color: #171717;
}

#hero .btn-get-started:hover {
  background: #CCCCCC;
  border: 2px solid #CCCCCC;
  text-decoration: none;
  color: #FBBF4D;
}


/*            Bảng tin    */

.anhnen__bangtin{
  /*border-bottom: 1px solid #CCCCCC;*/
}
.arena__games{
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 5, 22, 0) 38.4%, #130516 100%);    background-size: cover;
  /*object-fit: cover;*/
  margin-top: -150px;
  z-index: 9;
}
#hero_bangtin {
  display: table;
  width: 100%;
  height: 240px;
  /*height: auto!important;*/
  background: url(../images/slider/bg1.png);
  background-size: cover;
  object-fit: contain;
}

#hero_bangtin .hero-container_bangtin {
  background: linear-gradient(270deg, #130516 0%, rgba(19, 5, 22, 0) 41.15%, rgba(19, 5, 22, 0) 66.15%, #130516 100%);
  display: table-cell;
  /*margin: 0;*/
  /*text-align: center;*/
  vertical-align: middle;
  padding-left: 12%;
  margin-top: -90px!important;
}



.arena__title__h1{
  color:  rgba(255, 255, 255, 0.2);
}
#hero_bangtin h1 {
  margin: 20px 0;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #FBBF4D;
  padding-top: 30px;
}

@media (max-width: 768px) {
  #hero_bangtin h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero_bangtin h2 {
  color: #CCCCCC;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #hero_bangtin h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.bangtin__content{
  padding: 30px 30px 50px 30px;
  margin-top: -105px;
  /*background: #130516!important;*/
}
.nen-profile{
  width: 100%;
  height: 54px;
  background: linear-gradient(180deg, #521E5C 0%, rgba(82, 30, 92, 0) 100%);
  border-radius: 10px 10px 0px 0px;
  z-index: 99;
}
.bangtin__content__left__avantar{
  background-color: #130516;
}
.bangtin__content__left{
  width: 100%;
  border: 1px solid #FBBF4D;
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto;
  justify-content: center;
}
.profile_bangtin{
  /*margin-top: -30px!important;*/
  width: 125px;
  height: 125px;
  /*margin: 0 auto!important;*/
  margin: -30px auto 0 auto;
}
.bangtin__content__left__avantar{
  width: 100%;
  margin: 0 auto!important;
}

.avatar__bangtin{
  width: 100%;
  border: 2px solid #ffffff;
  background-size: cover;
  border-radius:50%;
}

.bangtin__content__left__profile{
  /*margin-top: -30px!important;*/
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
  width: 100%;
}
.bangtin__content__left__active{
  width: 100%;
}
.bangtin__content__left__ten,
.bangtin__content__left__id{
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
.bangtin__content__left__TK{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #CCCCCC;
}
.bangtin__content__left__bt{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
  /*padding: 0 20px;*/
}
.bangtin__content__left__bt i{
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.bangtin__content__left__bt span{
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.bangtin__content__left__bt a{
  text-decoration: none;
}

.bangtin__content__left__bt a:hover span{
  text-decoration: none;
  color: #FBBF4D;
}

.bangtin__content__left__bt a:hover i{
  text-decoration: none;
  color: #FBBF4D;
}

.bangtin__content__left__bt__bottom{
  border-bottom: none!important;
}

.bangtin__banner{
  border-bottom: 50px solid #230C28;
  border-right: 30px solid transparent;
  height: 0;
  width: 200px;
  border-radius: 15px 50px 0 0;
  text-align: center;
  line-height: 50px;
  margin-top: 8px;
}
.bangtin__content__right{
  width: 100%;
}

.bangtin__content__right__title{
  padding: 30px 0;
}

.bangtin__content__right__title h3{
  font-size: 24px;
  color: #FBBF4D;
  line-height: 32px;
  text-transform: uppercase;
}
.bangtin__content__right__title__nummber{
  border: 1px solid #FBBF4D;
  border-radius: 10px;
  text-align: center;
  background-color: #FBBF4D;
}
.bangtin__content__right__title__nummber span{
  font-size: 16px;
  color: #171717;
  padding: 5px 10px;
}
.bangtin__content-center{
  /*padding-top: 5px;*/
}
.bangtin__content__right__body__left{
  width: 100%;
  /*height: auto;*/
  height: 280px;
  border: 1px solid #2D1033;
  background: linear-gradient(180deg, #471B50 0%, #2D1033 100%);
  border-radius: 5px;
  padding: 10px 20px;
}

.bangtin__content__right__body__left_ht{
  width: 100%;
  /*height: auto;*/
  height: 280px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px 20px;
}

.bangtin__content__right__body__left__top{
  width: 100%;
  max-height: 80px!important;
}

.bangtin__content__right__body__left__top small{
  font-size: 12px;
  color: #CCCCCC;
  line-height: 24px;
}
.bangtin__content__right__body__left__top span{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}
.bangtin__content__right__body__left__body span{
  font-size: 16px;
  color: #CCCCCC;
  line-height: 32px;
}

.bangtin__content__right__body__left__bottom{
  padding: 20px 0 20px 0;
}
.bangtin__content__right__body__left__bottom__cidel{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #39BAA6;
  background-color: #39BAA6;
}

.bangtin__content__right__body__left__bottom__cidel__off{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  background-color: #CCCCCC;
}
.bangtin__content__right__body__left__bottom_c{
  padding-top: 8px;
}
.bangtin__content__right__body__left__bottom span{
  font-size: 14px;
  line-height: 24px;
}
.bangtin__content__right__body__left__bottom_ct{
  border: 1px solid #CCCCCC;
  border-radius: 20px;
}
.bangtin__content__right__body__left__bottom_ct:hover{
  background-color: #FBBF4D;
  border: 1px solid #FBBF4D;
}
.bangtin__content__right__body__left__bottom_ct:hover a{
  color: #2D1033;
}

.bangtin__content__right__body__left__bottom_ct span{
  padding: 10px 20px;
}
.bangtin__content__right__body__left__bottom_ct a{
  text-decoration: none;
}
.row .bangtin__content__right__body__left__bottom{
  padding-bottom: 0!important;
}

#bangtin__circle{
  width: 60px;
  height: 60px;
}


.bangtin__content__right__body__left__circle{
  padding-left: 50px;
}

.bangtin__content__right__body{
  padding-bottom: 30px;
}
/*.donut {*/
/*  float: left;*/
/*  width: 400px;*/
/*  height: 400px;*/
/*}*/

.circliful {
  position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
}

.circle-info, .circle-info-half {
  color: #999;
}


.hoso__content__tttk span{
  color: #CCCCCC;
}
.hoso__content__tttk .form-control{
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  border: none;
  /*border-radius: .25rem;*/
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 10px 20px;
}
.hoso__content__tttk .form-control:hover{
  border-color: rgba(255, 255, 255, 0.1);
}
.hoso__content__tttk .form-control:focus{
  border: rgba(255, 255, 255, 0.1);
}
.hoso__content__tttk .form-control:active{
  border: rgba(255, 255, 255, 0.1);
}

.hoso__content__tttk__dt{
  position: relative;
}
.althoso__content__tttk__i{
  position: absolute;
  right: 9%;
  top: 45%;
  font-size: 24px;
  color: #CCCCCC;
}

.hoso__content__tttk input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  background-color: #FBBF4D;
}

.btn__bangtin{
  width: 100%;
  padding: 30px 0;
}
.btn__bangtin a{
  /*width: 100%;*/
  font-family: 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px!important;
  border-radius: 10px;
  transition: 0.5s;
  /*margin: 10px;*/
  border: 2px solid #FBBF4D!important;
  background-color: #FBBF4D!important;
  color: #171717;
}

.btn__bangtin a:hover {
  background: #CCCCCC!important;
  border: 2px solid #CCCCCC!important;
  text-decoration: none!important;
  color: #FBBF4D;
}

.hoso__content__tttk_sodu{
  position: relative;
  border: 1px solid #CCCCCC;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9;
  padding: 20px 20px;
}

.hoso__content__tttk_sodu small{
  font-size: 14px;
  color: #CCCCCC;
}

.hoso__content__tttk_sodu span{
  font-size: 16px;
  color: #fff;
}

.btn-get-started__tk a{
  /*width: 100%;*/
  font-family: 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px!important;
  border-radius: 10px;
  transition: 0.5s;
  /*margin: 10px;*/
  border: 2px solid #FBBF4D!important;
  background-color: #FBBF4D!important;

}
.btn-get-started__tk span,
.btn-get-started__tk i{
  color: #171717!important;
}
.btn-get-started__tk a:hover {
  background: #CCCCCC!important;
  border: 2px solid #CCCCCC!important;
  text-decoration: none!important;
  color: #FBBF4D;
}

.hoso__content__tttk__sotrang{
  border: 1px solid rgba(255, 255, 255, 0.2);
  /*width: 65px;*/
  border-radius: 5px;
  margin-top: -25px;
  padding: 8px 10px;
}
.hoso__content__tttk__sotrang span{
  font-size: 16px;
  color: #CCCCCC;
  /*padding: 15px 10px;*/
  margin-right: 10px;
}

.hoso__content__right{
  width: 100%;
  margin: 0 auto;
}

.form-danhsach{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 5px 10px;
}

.images-chitiet{
  width: 70px;
  height: 70px;
}
.images-chitiet__images{
  max-width: 100%;
  background-size: cover;
  object-fit: contain;
}

.bangtin__content__right__body__left__topelo{
  padding-left: 30px!important;
}

.bangtin__content__right__title__boximage{
  width: 30px;
  height: 30px;
}
.bangtin__content__right__title__image{
  background-size: cover;
  object-fit: contain;
  max-width: 100%;
}

.boder-left{
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.bangtin__content__right__title__boximage__dongho{
  /*width: 40px;*/
  /*height: 40px;*/
}

.bangtin__content__right__title__boximage__dongho i{
  font-size: 32px!important;
  color: #FBBF4D!important;
}
.bangtin__chitiet__content__right__border{
  border-top: 2px solid #FBBF4D;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.bangtin__chitiet__content__right__border .table-dark{
  background: #281B2A!important;
}

.bangtin__chitiet__content__right__border .table-dark tr th,
.bangtin__chitiet__content__right__border .table-dark tr td{
  font-size: 14px!important;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.bangtin__chitiet__content__right__border .table-dark tr td .fa-circle{
  font-size: 8px!important;
  color: red;!important;
}

.bangtin__chitiet__content__right__border .table-dark tr td .fa-play-circle-win{
  font-size: 24px!important;
  color: #FF4800;!important;
}

.bangtin__chitiet__content__right__border .table-dark tr td .fa-play-circle-thang{
  font-size: 24px!important;
  color: #fff;
}
.span_lost{
  color: #FF4800;
}
.thanhngang{
  width: 6px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 0;
}

.thanhngang_2{
  width: 6px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 150px;
}

.table__donhang{
  position: relative;
}

.bangtin__content__right__luachonthem{
  padding: 30px 0 30px 0;
}
.bangtin__content__right__luachonthem span{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.bangtin__content__right__luachonthem__border{
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 250px;
  padding: 10px 20px;
  border-radius: 5px;
}
.bangtin__content__right__luachonthem__border h3{
  font-size: 16px;
  color: #ffffff;
}
.bangtin__content__right__bacham{
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.bangtin__chitiet__content__right__border__top{
  padding: 20px 20px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.5);*/
}
.bangtin__chitiet__content__right__border__top span{
  font-size: 16px;
}
.bangtin__chitiet__content__right__border__top__1{
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.bangtin__chitiet__content__right__border__top small{
  font-size: 16px;
  color: #FBBF4D;
}


/*            games  */
#hero_game {
  display: table;
  width: 100%;
  height: 450px;
  /*height: auto!important;*/
  background: url(../images/slider/bg1.png);
  background-size: cover;
  object-fit: contain;
}

#hero_game .hero-container__games{
  background: linear-gradient(270deg, #130516 0%, rgba(19, 5, 22, 0) 41.15%, rgba(19, 5, 22, 0) 66.15%, #130516 100%);
  display: table-cell;
  vertical-align: middle;
  padding-left: 12%;
  width: 100%;
  margin: 0 auto;
}

.hero-container__games__title h3{
  color: #FBBF4D;
  font-size: 36px;
  line-height: 100px;
}


.arena__title__game{
  color:  rgba(255, 255, 255, 0.2);
}

#hero_game h1 {
  margin: 20px 0;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #FBBF4D;
  padding-top: 30px;
}

@media (max-width: 768px) {
  #hero_game h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero_game h2 {
  color: #CCCCCC;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #hero_game h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.hero-container__games__pages{
  margin-top: -70px;
  width: 100%;
}
.arena__title__game{
  width: 100%;
}

.games-content_body__hover{

}

.games-content__border{
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  border: 1px solid #FBBF4D;
  border-radius: 5px;
}
.games-content__border__one{
  transition: box-shadow .3s;
}

.games-content__border:hover .games-content__border__one{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.games-content_body__hover .games-content__border:hover img{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.ames-content__border__oe{
  width: 100%;
  max-height: 150px!important;
}
.games-content__border__two{
  width: 100%;
  /*max-height: 50px!important;*/
}
.games-content__border__logo{
  width: 60px;
  height: 60px;
}

.games-content__border__one{
  padding: 20px 20px;
}
.games-content__border__one span{
  font-size: 16px;
  text-transform: uppercase;
  /*line-height: 42px;*/
}

.games-content__border__two{
  padding-top: 80px;
  text-align: right;
}

.games-content__border__two i{
  color: #fff;
}
.games-content__border__two__span{
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}

.games-content__border__two a:hover{
  text-decoration: none;
}
.games-content__border__two a:hover span,
.games-content__border__two a:hover i{
  color: #FBBF4D;
}

.games-content__footer{
  padding: 50px 0;
}
.games-content__footer h3{
  color: #fff;
  font-size: 24px;
}

.games-content__footer span{
  color: #FBBF4D;
  font-size: 24px;
}

.games-content__footer__hr{
  border: 1px solid  rgba(255, 255, 255, 0.2);
  width: 270px;
  /*height: 1px;*/
  margin-top: 25px;
}
.games-content__footer__world{
  padding: 30px 0;
}
.games-content__footer__world span{
  font-size: 16px;
  color: #FBBF4D;
}

.games-content__footer__world small{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}


/*           tin tức             */

#hero_tintuc {
  display: table;
  width: 100%;
  height: 450px;
  /*height: auto!important;*/
  background: url(../images/slider/bg1.png);
  background-size: cover;
  object-fit: contain;
}

.hero-container__tintuc__title h3{
  color: rgba(255, 255, 255, 0.5);
  font-size: 48px;
  text-transform: uppercase;
  line-height: 60px;
  /*line-height: 100px;*/
}

#hero_tintuc .hero-container__tintuc{
  background: linear-gradient(270deg, #130516 0%, rgba(19, 5, 22, 0) 41.15%, rgba(19, 5, 22, 0) 66.15%, #130516 100%);
  display: table-cell;
  vertical-align: middle;
  padding-left: 12%;
  width: 100%;
  margin: 0 auto;
}


.arena__title__tintuc{
  color:  rgba(255, 255, 255, 0.5);
}

#hero_tintuc h1 {
  margin: 20px 0;
  font-weight: 700;
  /*line-height: 56px;*/
  text-transform: uppercase;
  color: #FBBF4D;
  /*padding-top: 30px;*/
}

@media (max-width: 768px) {
  #hero_tintuc h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero_tintuc h2 {
  color: #CCCCCC;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #hero_tintuc h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.hero-container__tintuc__pages{
  margin-top: -100px;
  width: 100%;
}
.arena__title__tintuc{
  width: 100%;
}

.tintuc-slider__backgoru{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /*display: table-cell;*/
  /*margin: 0;*/
  /*text-align: center;*/
  background-image: url("../images/slider/dr-mundo.png");
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px 0px 0px 5px;
}
.tintuc-slider__sss{
  background: linear-gradient(180deg, rgba(19, 5, 22, 0) 33.42%, rgba(19, 5, 22, 0.9) 100%);
  /*width: 100%;*/
  /*height: 100%;*/
}

.tintuc-slider__backgoru__img{
  background-size: cover;
  object-fit: contain;
  width: 100%;
  display: inline-block;
  /*background-position: center center;*/
  /*margin: 0 auto;*/
  border-radius: 5px 0px 0px 5px;
}
.tintuc-slider__backgoru__right{
  width: 100%;
  /*height: 100%;*/
  padding: 30px 20px;
  background: linear-gradient(141.32deg, #310E38 56%, #51195E 100%);
  border-radius: 0px 5px 5px 0px;
}
.tintuc-slider__right__span{
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.tintuc-slider__backgoru__right h3{
  font-size: 18px;
  line-height: 24px;
  color: #FBBF4D;
}
.tintuc-slider__right__h3{
  /*padding: 20px 20px;*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.tintuc-slider__right__small{
  padding-top: 20px;
}
.tintuc-slider__right__small small{
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

.tintuc-slider__right__border{
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
  width: 110px;
  padding: 3px 5px;
}
.tintuc-slider__right__border:hover{
  border: 1px solid#FBBF4D;
  background: #FBBF4D;
  color: #171717!important;
}

.tintuc-slider__right__border:hover span,
.tintuc-slider__right__border:hover i{
  color: #171717!important;
}

.tintuc-slider__right__border a:hover{
  text-decoration: none;
}
.tintuc-slider__right__border a:hover span{
  color: #171717;
}
.tintuc-slider__right__border a:hover i{
  color: #171717;
}
.tintuc-content__border__two__span{
  font-size: 12px;
  color: #fff;
  line-height: 32px;
}
.tintuc-slider__top{
  padding-left: 220px;
  padding-top: 30px;
}

.tintuc_contents__bg{
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  border-radius: 2px;
}
.tintuc_contents__bg span{
  line-height: 40px!important;
}

.tintuc_contents__nen{
  /*order-bottom: 40px solid rgba(255, 255, 255, 0.1);*/
  /*border-right: 50px solid transparent;*/
  /*height: 40px;*/
  max-height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 92.04%);
  border-radius: 2px;
  /*padding: 30px 30px;*/
}
.tintuc_contents__menu{
  padding: 30px 30px;
}
.tintuc_contents{
  padding: 50px 10px 50px;
}
.tintuc_body{
  padding: 30px 0;
}

.tintuc_contents__left{
  padding: 0 20px;
}
.tintuc_contents__left h3{
  font-size: 18px;
  line-height: 24px;
  color: #FBBF4D;
}

.tintuc_contents__left__time i,
.tintuc_contents__left__time small{
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
.tintuc_contents__left__time{
  padding: 10px 20px;
}
.tintuc_contents__left__footer{
  padding: 0 20px;

}
.tintuc_contents__left__footer span{
  color: rgba(255, 255, 255, 0.8);
}
.tintuc_body_image{
  background-size: cover;
  object-fit: contain;
  max-width: 100%;
}

.tintuc_right__input input{
  position: relative;
  width: 100%;
  max-height: 40px;
}

.tintuc_right__search{
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #FBBF4D;
}
.tintuc_right__search i{
  color: #000000;
  font-size: 24px;
  padding-left: 10px;
  padding-top: 10px;
}

.tintuc_contents__nen{
  /*padding-left: 30px!important;*/
  /*padding-right: 30px!important;*/
}
.tintuc_contents__menus{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
.page-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  margin-left: 5px;
}
nav ul li:nth-child(2) .page-link{
  background: #FBBF4D;
}

nav ul li:nth-child(2) .page-link span{
  color: #fff;
}

.page-link span{
  color: rgba(255, 255, 255, 0.5);
}

.tintuc_contents__menu__video{
  width: 100%;
  height: 190px;
  padding-bottom: 30px;
}

.tintuc_right_list{
  width: 45px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
}
.tintuc_right_list span{
  padding-left: 8px;
  margin-top: 5px;
  width: 100%;
  line-height: 42px;
}

.tintuc_right_menu{
  padding-top: 5px;
}
.tintuc_right_qc{
  background-image: url("../images/volam.png");
  width: 100%;
  background-size: cover;
  object-fit: contain;
  height: 240px;
}

.tintuc_right_qc h3{
  font-size: 24px;
  line-height: 24px;
}
.tintuc_right_qc_title{
  padding: 130px 20px 20px 20px;
}
.btn-get-startedd{
  border: 1px solid #FBBF4D;
  border-radius: 10px;
  padding: 5px 15px;
}
.btn-get-startedd span{
  color: #ffffff;
}
.btn-get-starteds a:hover{

  text-decoration: none!important;
  background-color: #FBBF4D;
}
.btn-get-starteds a:hover span{
  color: #171717;
}

.tintuc-slider{
  margin-top: -220px;
}

.sukien-slider__backgoru{
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  /*display: table-cell;*/
  /*margin: 0;*/
  /*text-align: center;*/
  background-image: url("../images/slider/dr-mundo.png");
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  border-top: 3px solid #FBBF4D;
}

.sukien_contents{
  padding: 30px 0;
}

.sukien_contents small{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
}

.sukien_contents ul li{
  list-style: none;
  margin-left: 25px;
}
.sukien_contents ul li i{
  font-size: 16px;
  color: #CCCCCC;
}
.sukien_contents ul li span{
  color: #CCCCCC;
}
.sukien_contents__title{
  padding-top: 30px;
  padding-bottom: 30px;
}
.sukien_contents__title h3{
  font-size: 28px;
  line-height: 38px;
  color: #FBBF4D;
  padding-left: 20px;
}

.sukien_contents__body{
  padding: 30px 30px 10px 30px;
}

.sukien_contents__body p{
  font-size: 16px;
  line-height: 24px;
}
.sukien_contents__image img{
  max-width: 100%;
  background-size: cover;
  object-fit: contain;
}

.sukien_contents__image{
  padding: 20px 30px;
}
.chuthich{
  text-align: center;
  /*padding-bottom: 50px;*/
}

.chuthich small{
  font-size: 14px;
  color: #666666;
}

.sukien-slider{
  margin-top: -250px;
}

.tintuc_contents__left a:hover{
  text-decoration: none;
}

.bangtin__chat__content__right__border__top__1 i{
  color: #39BAA6;
}

.chat-one{
  padding-top: 100px;
}

.chat-two span{
  /*width: 300.48px;*/
  /*height: 32px;*/
  background: #5C4162;
  border-radius: 5px 5px 5px 15px;
  padding: 10px 40px;
}
.chat-one span{
  max-width: 93px;
  max-height: 32px;
  background: #5C4162;
  border-radius: 20px 5px 5px 5px;
  padding: 10px 20px;
}
.chat-three span{
  text-align: right;
  max-width: 80px;
  max-height: 32px;
  background: #6C3478;
  border-radius: 5px 15px 5px 5px;
  padding: 10px 20px;
}
.bangtin__chat__content__right__border{
  border-top: 2px solid #FBBF4D;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  position: relative;
  /*padding-bottom: 50px;*/
}
.chat-three{
  padding-bottom: 100px;
}

.btn-gui span{
  border: 1px solid #FBBF4D;
  background: #F7AD57;
  border-radius: 30px;
  padding: 5px 15px;
  color: #171717;
}

.send__chat ul li{
  list-style: none;
  margin-left: 20px;
}
.send__chat ul{
  border-left: 1px solid #CCCCCC;
}

.trang .form-control{
  display: block;
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.trang select.form-control:focus::-ms-value {
  color: #FBBF4D;
  background-color: #CCCCCC!important;
}
.trang select.form-control {
  color: #ffffff!important;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #250C2B!important;
  line-height: 2;
}
.trang .form-control:focus {
  color: #FBBF4D;
  background-color:#250C2B!important;
  border-color: #250C2B!important;
  outline: 0;
  box-shadow: 7px -1px 14px rgba(37,12,43,0.66)!important;
}

.trang_span {
  color: rgba(255, 255, 255, 0.5);
  line-height: 32px;
}











/* responsive*/

@media (min-width: 1300px)  {
  .container{
    max-width: 1170px;
  }
}
@media (min-width: 1499px) {
  .container{
    max-width: 1266px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px){
  .search:focus, .search:hover{
    width: 220px !important;
  }
}
@media  (min-width: 992px) {
  .search-box{
    left: auto !important;
    right: 0 !important;
  }
}

@media (max-width: 991px) {
  header .navbar-light .navbar-brand img.logo{
    width: 100px;
  }
  .navbar-collapse{
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 15px;
    width: 260px;
    height: 100vh;
    background: #250C2B;
    padding-top: 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  }
  .vertical_s{
    position: static;
  }
  .navbar-collapse.collapsing{
    height: auto;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse .show{
    left: -15px;
    transition: left 0.3s ease-in;
    z-index: 999;
  }
  header .navbar ul li.menu-item a{
    line-height: 10px;
    float: left;
    width: 100%;
    text-align: left;
    padding: 10px 30px;
    color: #FBBF4D;
  }
  .mobile-more-menu{
    display: block;
  }
  .menu-right{
    display: none;
  }
  .navbar-brand{
    padding: 0;
    margin-right: 0;
  }

  .more-menu .iq-sub-dropdown{
    width: 90%!important;
    margin: 0 auto;
    left:  0;
    right: 0;
    top: 60px;
  }
  .mobile-more-menu .iq-user-dropdown img{
    width: 40px;
  }
  .mobile-more-menu .fa-ellipsis-h{
    color: #FBBF4D;
  }
  .iq-search-bar .search-input{
    background: #250C2B;
    color: #FBBF4D;
    box-shadow: 0 3px 10px rgba(0,0,0,0.75);
  }
  .navbar-right li{
    position: static !important;
  }
  .container-fluid{
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-header{
    padding: 10px 0;
  }
  .search-box{
    min-width: 16.2rem;
    top: 55px !important;
  }
  header .navbar ul li{
    display: block;
  }
}

@media (min-width: 576px) {
  .iq-search-bar a.search-toggle{
    display: none;
  }
}

@media (min-width: 1499px) {
  .container{
    max-width: 1200px;
  }
}
@media  (max-width: 479px) {
  header .navbar ul li.list-inline-item a{
    padding-left: 20px;
    padding-right: 20px;
  }
  header .navbar .iq-usermenu-dropdown>ul>li{
    position: static;
  }
  .search-box{
    left: 0;
    right: 0;
    min-width: 100%;
  }
  header .iq-usermenu-dropdown .iq-sub-dropdown{
    width: 250px;
  }
}


/* Header menu responsiveness*/
@media screen and (min-width: 1200px) {
  header .navbar ul li .sub-menu li a,
  header.menu-sticky .navbar ul li .sub-menu li a{
    white-space: nowrap;
  }
}
@media screen and (max-width: 4000px) and (min-width: 1200px) {
  .navbar ul li:hover a
  , .navbar ul li:hover i{
    color: #FBBF4D;
    text-decoration: none;
  }
}
@media (max-width: 991px) {
  .navbar ul.navbar-nav{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
    display: inline-block;
    width: 100%;
  }
  .navbar ul{
    width: 100%;
    background: #250C2B;
  }
  header .navbar ul li a,
  header .navbar ul li.menu-item a{
    padding: 15px;
    z-index: inherit;
    text-align: left;
    font-weight: normal;
  }
  header .navbar ul li.menu-item a{
    line-height: normal;
  }
  header .navbar ul li.menu-item a{
    line-height: 10px;
    float: left;
    width: 100%;
    text-align: left;
    padding: 10px 30px;
    color: #FBBF4D;
  }
  header .navbar ul li:hover .sub-menu{
    box-shadow: none;
  }
  header .navbar ul li .sub-menu,
  header .navbar ul li:hover .sub-menu{
    display: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 9;
  }
  header .navbar ul li .sub-menu li .sub-menu li.sub-menu a{
    background: transparent;
  }
  .navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu,
  .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover >.sub-menu{
    left: auto;
    right: 0;
    top: 0;
  }
}






